form{
	height: 100%;
	width: 120%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25%;
	margin-bottom: 50%;
    text-align: left;
}
div.form
{
    display: block;
    text-align: center;
}
#title{
	padding: 10px 20px 0px;
}
#msg{
	display: none;
}
#title:hover + #msg {
	display: block;
	padding: 0px 20px;
}

#loginbtn{
	margin: 10px 0px 20px 20px;
	background-color: #000000
}
#fpbtn{
	padding: 10px 20px 20px;
}

#userdiv{
	padding: 0px 20px;
}
#userlabel{
	font-family:Helvetica;
	font-size: 15px;
}
#usr{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#usr:hover{
	box-shadow: none;
}

#pswddiv{
	padding: 0px 20px;
}
#pswdlabel{
	font-family:Helvetica;
	font-size: 15px;
}
#pswd{
	border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#pswd:hover{
	box-shadow: none;
}
