div.profile{
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

form.pi{
	height: auto;
	width: 170%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: 30%;
    text-align: left;
}

form.edu{
	height: auto;
	width: 170%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: 30%;
    text-align: left;
}
form.exp{
	height: auto;
	width: 170%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: 30%;
    text-align: left;
}
form.skills{
	height: auto;
	width: 170%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: 30%;
    text-align: left;
}
form.la{
	height: auto;
	width: 170%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: auto;
	margin-bottom: 30%;
    text-align: left;
}

.btn-box{
	display: flex;
}
.btn-box button{
	background: transparent;
	outline: none;
	cursor: pointer;
	background-color: #000;
	color: #fdd54f;
	padding: 10px;
	font-weight: bold;
}
#btnpi {
	height: 150px;
	width: 50px;
}

.content{
	margin: 5px;
	position: absolute;
}
#leveledudiv{
	padding:0px 20px;
}
#leveledulabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d0b4ef;
        content: '';
        display: inline-block;
        visibility: visible;
}

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #000000;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}
#fnamediv{
	padding: 0px 20px;
}
#fnamelabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#firstname{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#firstname:hover{
	box-shadow: none;
}

#lnamediv{
	padding: 0px 20px;
}
#lnamelabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#lastname{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#lastname:hover{
	box-shadow: none;
}

#emaildiv{
	padding: 0px 20px;
}
#emaillabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#email{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#email:hover{
	box-shadow: none;
}

#contactdiv{
	padding: 0px 20px;
}
#contactlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#contactno{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#contactno:hover{
	box-shadow: none;
}

#addressdiv{
	padding: 0px 20px;
}
#addresslabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#address{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#address:hover{
	box-shadow: none;
}

div#degree_name{
	padding: 0px 20px;
}
label#degree_name{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
input#degree_name{
	border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
input#degree_name:hover{
	box-shadow: none;
}
