.show {
    /*padding: 0px;*/
    /*margin-left: 0px;*/
    margin-top: 3%;
    /*margin-bottom: 3%;*/
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /*margin-right: 1px;*/
    /*margin-top: 5%;*/
}

.name_profile {
    
    height: 100px;
    width: 80%;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /*margin-top: 10%;*/
    /*margin-right: 20%;*/
    /*box-shadow: 1px 1px #d0b4ef , 2px 2px #be33da, 3px 3px #fdd54f,  4px 4px #e4b429 ;*/
    padding: 10px;
}
.circle_profile {
    background-color: #fdd54f;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90px; 
    height: 80px;
    border-radius: 50%;
    padding: 10px 10px;
    color: #000;
    font-size: 33px;
    font-family: Poppins, sans-serif;
    line-height: 1.8em;
}

.cname_profile {
    height: 100%;
    margin-top: -14px;
    margin-left: 20px;
    font-size: 35px;
    font-family: Poppins, sans-serif;
    line-height: 3em;
    color: #fdd54f;
    flex-direction: row; 
    /*box-sizing: border-box; */
    display: flex; 
    flex: 1 1 calc(100% - 100px); 
    /*padding-bottom: 50px;*/
    /*margin-bottom: 50px;*/
    min-width: calc(100% - 112px);
}




.show1 {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}
.bg_profile {

    border-color: black;
    border: 1px solid;
    width: 80%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: #fdd54f;
    border-radius: 20px;
}


.title_profile {
    color: black;
    padding: 10px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 130%;
}

hr{
    border-color: black;
    border-width: 3px;
    margin-bottom: 0px;
    margin-top: 0px;

}
td {
  /*max-width: 100px;*/
 overflow: hidden;
 /*text-overflow: ellipsis;*/
 /*white-space: nowrap;*/



 /*display: -webkit-box;*/
  /*-webkit-line-clamp: 3;*/
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.col1{
    padding-left: 10px;
    padding-bottom: 5px;
    width: 200px;
    text-align: left;
}
.col2{
    width:800px;
    text-align: left;
}
































/*
h1[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 93px;
    line-height: 1.3em
}

h1[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h2[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 58px;
    line-height: 1.3em
}

h2[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h3[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 46px;
    line-height: 1.3em
}

h3[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h4[_ngcontent-rrr-c140],
.text-heading-4[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 33px;
    line-height: 1.3em
}

h4[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-4[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h5[_ngcontent-rrr-c140],
.text-heading-5[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 23px;
    line-height: 1.3em
}

h5[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-5[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h6[_ngcontent-rrr-c140],
.text-heading-6[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    line-height: 1.3em
}

h6[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-6[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

.text-subtitle-2[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%
}

.text-body-1[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 150%
}

.text-body-2[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 150%
}

.text-caption[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 140%
}

.text-overline[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 10px;
    line-height: 150%;
    text-transform: uppercase
}

b[_ngcontent-rrr-c140] {
    font-weight: 500
}

strong[_ngcontent-rrr-c140] {
    font-weight: 700
}

em[_ngcontent-rrr-c140] {
    font-style: italic
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: #191919d9;
    font-weight: 500
}

p {
    margin-top: 0;
    margin-bottom: 1em
}

a:hover {
    color: #262424
}

a[disabled] {
    color: #00000040;
    cursor: not-allowed
}

img {
    vertical-align: middle;
    border-style: none
}

div,
h6,
p,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.u-borderTop-grey100 {
    border-top: 1px solid #e6e6e6
}

.color-teal-100,
.color-teal-100:hover {
    color: #d1eae6
}

.u-marginBottom-8 {
    margin-bottom: 8px
}

.u-paddingRight-8 {
    padding-right: 8px
}


.u-textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.color-white,
.color-white:hover {
    color: #fff
}

.bg-color-white {
    background-color: #000;
    color: #fdd54f;
}

a {
    color: inherit;
    outline: 0;
    cursor: pointer;
    text-decoration: none
}


h6,
.text-heading-6 {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    line-height: 1.3em
}

.mat-elevation-z1 {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}


.u-margin-16 {
    margin: 16px
}

.u-margin-0-16 {
    margin-left: 16px;
    margin-right: 16px
}

.u-marginBottom-16 {
    margin-bottom: 16px
}

.u-padding-16 {
    padding: 16px
}


.u-padding-16-0 {
    padding-top: 16px;
    padding-bottom: 16px
}


*/
