div.show {
    padding: 0px;
    margin-left: 0px;
    margin-right: 1px;
}

h1[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 93px;
    line-height: 1.3em
}

h1[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h2[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 58px;
    line-height: 1.3em
}

h2[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h3[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 46px;
    line-height: 1.3em
}

h3[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h4[_ngcontent-rrr-c140],
.text-heading-4[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 33px;
    line-height: 1.3em
}

h4[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-4[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h5[_ngcontent-rrr-c140],
.text-heading-5[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 23px;
    line-height: 1.3em
}

h5[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-5[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

h6[_ngcontent-rrr-c140],
.text-heading-6[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    line-height: 1.3em
}

h6[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140],
.text-heading-6[_ngcontent-rrr-c140] b[_ngcontent-rrr-c140] {
    font-weight: 700
}

.text-subtitle-1[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 130%
}

.text-subtitle-2[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 150%
}

.text-body-1[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 150%
}

.text-body-2[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 150%
}

.text-caption[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 140%
}

.text-overline[_ngcontent-rrr-c140] {
    font-family: Inter, sans-serif;
    font-size: 10px;
    line-height: 150%;
    text-transform: uppercase
}

b[_ngcontent-rrr-c140] {
    font-weight: 500
}

strong[_ngcontent-rrr-c140] {
    font-weight: 700
}

em[_ngcontent-rrr-c140] {
    font-style: italic
}

.text-h4[_ngcontent-rrr-c140] {
    font-family: Poppins, sans-serif;
    font-size: 33px;
    line-height: 1.3em
}

html,
body {
    width: 100%;
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5em;
    color: #191919d9;
    font-weight: 500
}

p {
    margin-top: 0;
    margin-bottom: 1em
}

a:hover {
    color: #262424
}

a[disabled] {
    color: #00000040;
    cursor: not-allowed
}

img {
    vertical-align: middle;
    border-style: none
}

html,
body,
div,
h6,
p,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

.u-borderTop-grey100 {
    border-top: 1px solid #e6e6e6
}

.color-teal-100,
.color-teal-100:hover {
    color: #d1eae6
}

.u-marginBottom-8 {
    margin-bottom: 8px
}

.u-paddingRight-8 {
    padding-right: 8px
}

.bg-color-teal-100 {
    background-color: #000;
    color: #fdd54f;
}

.u-textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.color-white,
.color-white:hover {
    color: #fff
}

.bg-color-white {
    background-color: #fdd54f;
    color: #000;
}

a {
    color: inherit;
    outline: 0;
    cursor: pointer;
    text-decoration: none
}

.u-display-block {
    display: block
}

h6,
.text-heading-6 {
    font-family: Poppins, sans-serif;
    font-size: 19px;
    line-height: 1.3em
}

.mat-elevation-z1 {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f
}

.u-margin-center {
    margin-left: auto;
    margin-right: auto
}

.u-margin-16 {
    margin: 16px
}

.u-margin-0-16 {
    margin-left: 16px;
    margin-right: 16px
}

.u-marginBottom-16 {
    margin-bottom: 16px
}

.u-padding-16 {
    padding: 16px
}

.u-padding-0-16 {
    padding-left: 16px;
    padding-right: 16px
}

.u-padding-16-0 {
    padding-top: 16px;
    padding-bottom: 16px
}

.u-padding-24-0 {
    padding-top: 24px;
    padding-bottom: 24px
}

.u-paddingTop-32 {
    padding-top: 32px
}

html {
    background-color: #ecf0f1;
    height: 100%
}

body {
    background-color: #ecf0f1;
    color: #191919;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 150%
}