{% extends "profile_setup_layout.html" %}
{% block content %}
 	<!-- <link rel="stylesheet" href="../static/css/about_us/bootstrap.min.css"> -->
 	<!-- <link href="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" /> -->
	    <div class="row">

	    	<h1 id="title">About Us</h1>
			
		</div>
    	<!-- <div class="container"> -->
    		<div class="row" style="text-align: center; background-color: #fdd54f">
            <div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px; border-radius: 50%; width: 180px;">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro1">Show Details
                </button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro2">Show Details
                </button>
            </div><div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro3">Show Details
                </button>
            </div><div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro4">Show Details
                </button>
            </div><div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro5">Show Details
                </button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" style="border: 1px solid; padding: 10px; color: black;">
                <div class="thumbnail" >
                    <img src="../static/pictures/sunset_261-wallpaper-800x480.jpg" alt="Generic placeholder thumbnail" style="height:150px">
                </div>
                <div class="caption">
                    <h3>Jay B. Soni</h3>
                </div>             
                <button type="button" class="btn btn-primary" style="background-color: black; border: none;" data-toggle="modal" data-target="#pro6">Show Details
                </button>
            </div>
        </div>

        <br><br><br>
        <br><br><br>
        
        <!-- </div> -->




        <div class="modal fade" id="pro1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pro2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pro3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pro4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pro5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="pro6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">SONI JAY</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="background-color: #fdd54f">
                        <label>Name : </label>
                        SONI JAY B.<br />
                        <label>Enroll No : </label>
                        ?<br />
                        <label>Degree name : </label>
                        ?<br />
                        <label>Semester : </label>
                        ?<br />
                        <label>Email Id : </label>
                        ?<br />
                        <label>About Me : </label>
                        write about yourself<br />
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>



    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    
    
{% endblock content %}
