{% extends "dashboard_layout.html" %}
{% block content %}

<link rel="stylesheet" href="../static/css/dashboard.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../static/css/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/css/set1.css" />
<!--<h1> Welcome {{email}}.</h1>-->

<!-- <div class="search"> -->
	<div class="container1">
		<form class="nosubmit">
		  <input class="nosubmit" type="search" placeholder="Search...">
			<button type="button" class="btn btn-primary" style="color: #fdd54f; background-color: black; border: none;" data-toggle="modal" data-target="#pro1">Advance Filter
                </button>

		</form>
	</div>

    <!-- <form class="search"> -->
	<!-- <div class="container"> -->
<!-- </div> -->

	<!-- </div> -->





<!-- 	<div class="filter">
		<br/>
		<h4>Search based on Filters</h6>
		
		<select id="main_select" onchange="giveSelection(this.value)">
			<option selected>Select your interest</option>
			<option value="courses">Courses</option>
			<option value="department">Department</option>
			<option value="skills">Skills</option>
			<option value="hobbies">Hobbies</option>
			<option value="Experience">Experience</option>
			
		</select>
		<select id="child_select">
			<option data-option="courses">ECE651</option>
			<option data-option="courses">ECE650</option>
			<option data-option="courses">ECE659</option>
			<option data-option="courses">ECE613</option>
			<option data-option="courses">ECE606</option>
			<option data-option="courses">ECE657</option>
			<option data-option="courses">ECE657a</option>
			<option data-option="courses">MSCI 718</option>
			<option data-option="courses">BE 600</option>
			<option data-option="courses">BE 602</option>
			<option data-option="courses">Come again to see more</option>

			<option data-option="department">ECE</option>
			<option data-option="department">BE</option>
			<option data-option="department">EME</option>
			<option data-option="department">Phy</option>
			<option data-option="department">CS</option>
			<option data-option="department">Arts</option>
			<option data-option="department">Psyc</option>
			<option data-option="department">Astr</option>
			<option data-option="department">Chem</option>
			<option data-option="department">SE</option>
			
			<option data-option="skills">C</option>
			<option data-option="skills">C++</option>
			<option data-option="skills">C#</option>
			<option data-option="skills">Java</option>
			<option data-option="skills">Python</option>
			<option data-option="skills">React</option>
			<option data-option="skills">Node JS</option>
			<option data-option="skills">AWS</option>
			
			<option data-option="hobbies">Coding</option>
			<option data-option="hobbies">Reading</option>
			<option data-option="hobbies">Swimming</option>
			<option data-option="hobbies">Soccer</option>
			
			<option data-option="Experience">1 year</option>
			<option data-option="Experience">Under 3 years</option>
			<option data-option="Experience">3+ years</option>
			
		</select>
	<button type="submit" id="filter" class="btn btn-primary">Apply</button>
	</div>
 -->	<!-- </form> -->
	
<!-- 	<br><br>
 -->

	<div class="card">
		<div class="card1" >
			<h4 class="h2_card" > Jay Soni </h4>
			<hr class="hr_card" >
			<table class="table_card">
				<tr>
					<td class="td_card col2" ><b>University:</b> University of Waterloo</td>
					<td class="td_card col1" ><b>Department:</b> MEng</td>
				</tr>
			</table>
			<p calss="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 0px;"><b>Description:</b> I am a performance-driven and enthusiastic individual who thrives in fast-paced environments. I'm looking for a part-time job position in customer service. </p>
			<p class="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 5px;"><b>Courses: </b>ECE650, ECE651, ECE613 </p>
		</div>
	</div>

	<div class="card">
		<div class="card1" >
			<h4 class="h2_card" > Jay Soni </h4>
			<hr class="hr_card" >
			<table class="table_card">
				<tr>
					<td class="td_card col2" ><b>University:</b> University of Waterloo</td>
					<td class="td_card col1" ><b>Department:</b> MEng</td>
				</tr>
			</table>
			<p calss="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 0px;"><b>Description:</b> I am a performance-driven and enthusiastic individual who thrives in fast-paced environments. I'm looking for a part-time job position in customer service. </p>
			<p class="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 5px;"><b>Courses: </b>ECE650, ECE651, ECE613 </p>
		</div>
	</div>
	<div class="card">
		<div class="card1" >
			<h4 class="h2_card" > Jay Soni </h4>
			<hr class="hr_card" >
			<table class="table_card">
				<tr>
					<td class="td_card col2" ><b>University:</b> University of Waterloo</td>
					<td class="td_card col1" ><b>Department:</b> MEng</td>
				</tr>
			</table>
			<p calss="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 0px;"><b>Description:</b> I am a performance-driven and enthusiastic individual who thrives in fast-paced environments. I'm looking for a part-time job position in customer service. </p>
			<p class="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 5px;"><b>Courses: </b>ECE650, ECE651, ECE613 </p>
		</div>
	</div>
	<div class="card">
		<div class="card1" >
			<h4 class="h2_card" > Jay Soni </h4>
			<hr class="hr_card" >
			<table class="table_card">
				<tr>
					<td class="td_card col2" ><b>University:</b> University of Waterloo</td>
					<td class="td_card col1" ><b>Department:</b> MEng</td>
				</tr>
			</table>
			<p calss="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 0px;"><b>Description:</b> I am a performance-driven and enthusiastic individual who thrives in fast-paced environments. I'm looking for a part-time job position in customer service. </p>
			<p class="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 5px;"><b>Courses: </b>ECE650, ECE651, ECE613 </p>
		</div>
	</div>
	<div class="card">
		<div class="card1" >
			<h4 class="h2_card" > Jay Soni </h4>
			<hr class="hr_card" >
			<table class="table_card">
				<tr>
					<td class="td_card col2" ><b>University:</b> University of Waterloo</td>
					<td class="td_card col1" ><b>Department:</b> MEng</td>
				</tr>
			</table>
			<p calss="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 0px;"><b>Description:</b> I am a performance-driven and enthusiastic individual who thrives in fast-paced environments. I'm looking for a part-time job position in customer service. </p>
			<p class="p_card" style="text-align: left; padding-left: 17px; margin-bottom: 5px;"><b>Courses: </b>ECE650, ECE651, ECE613 </p>
		</div>
	</div>
	<br><br><br><br><br>
	</div></div>


	<div class="modal fade" id="pro1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: black; color: #fdd54f;">
                        <h4 style="text-align: left;" class="modal-title" id="myModalLabel">Advance Filter</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;">
                            ×
                        </button>
                        
                    </div>
                    <div class="modal-body" style="">
                    <section class="content">
						<span class="input input--kaede">
							<input class="input__field input__field--kaede" type="text" id="input-2" />
							<label class="input__label input__label--kaede" for="input-2">
								<span class="input__label-content input__label-content--kaede">First Name</span>
							</label>
						</span>
						<span class="input input--kaede">
							<input class="input__field input__field--kaede" type="text" id="input-4" />
							<label class="input__label input__label--kaede" for="input-4">
								<span class="input__label-content input__label-content--kaede">Department</span>
							</label>
						</span>
						<span class="input input--kaede">
							<input class="input__field input__field--kaede" type="text" id="input-5" />
							<label class="input__label input__label--kaede" for="input-5">
								<span class="input__label-content input__label-content--kaede">Course Number</span>
							</label>
						</span>
						<span class="input input--kaede">
							<input class="input__field input__field--kaede" type="text" id="input-6" />
							<label class="input__label input__label--kaede" for="input-6">
								<span class="input__label-content input__label-content--kaede">Company Name</span>
							</label>
						</span>
					</section>
                    </div>
                    <div class="modal-footer" style="background-color: black; color: #fdd54f;">
                        <button type="button" style="background-color: #fdd54f;" class="btn btn-default" data-dismiss="modal">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        

<script src = "../static/js/dashboard.js"></script>

<script src = "../static/js/modal.js"></script>
<script src = "../static/js/classie.js"></script>
{% endblock content%}
