<!DOCTYPE html>
<html lang="en">
<head>
  <title>ForgotPassword</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	
	<link rel="stylesheet" href="../static/css/forgotpassword.css">

</head>
<body>
	
<div class="jumbotron text-center">
  <h1>Catch-Up</h1> 
</div>

<div class="container">
	<div class="row">
	<form name="forgotpswdform" method = "POST" action="login.html" onsubmit="return validateForm()">
		<div class="form-group">
		  <label>Username:</label>
		  <input type="text" class="form-control" id="usr" name="username" placeholder="username@uwaterloo.ca" required>
		</div>
		<div class="form-group">
		  <label for="newpswd">New Password:</label>
		  <input id="newpswd" name="newpswd" type="password" class="form-control" required>
		</div>
		
		<div class="form-group" id="message">
		  <b>Password must contain the following:</b>
		  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
		  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
		  <p id="number" class="invalid">A <b>number</b></p>
		  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
		</div>
		
		 <div class="form-group">
		  <label for="pwd">Confirm Password:</label>
		  <input id="confirmpswd" name="confirmpswd" type="password" class="form-control" required>
		</div>
		<button id="save" type="submit" class="btn btn-primary">Save</button>
		<button type="reset" class="btn btn-primary" onclick="resetfun()">Reset</button>
	</form>
	</div>
</div>

<script src = "../static/js/forgotpassword.js" ></script>

</body>
</html>
