<html>
	<head>
	</head>
	<body>
		<div class='content-section'>
			<form method="post" action="/updatePassword">
				<label>Username : </label>   
	            <input type="text" placeholder="Enter Username" name="username" required>  
	            <label>Enter new Password : </label>   
	            <input type="password" placeholder="Enter new Password" name="password" required>  
	            <button type="submit">Update</button>
	            <a href="/login">Login? </a>
	            <a href="/signup">Signup? </a>
        	</form>
		</div>
	</body>
</html>