{% extends "layout.html" %}
{% block content %}

<form name = "profile" method = "POST" action="/profileSetup" onsubmit="return validateForm()"> <!--need to update action-->	
		
	<div class="form-group">	
    <h1>profile Up</h1>	
    {% if msg %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
    {% endif%}
    <p>Please fill in this form.</p>	
	</div>	

  <div class="form-group" id="department">	
    <label for="last" id="department">Department:</label>	
    <input type="text" class="form-control" id="department" name="department" required>	
  </div>
			
  <div class="form-group" id="course_no">	
    <label for="first" id="course_no">Course No.:</label>	
    <input type="text" class="form-control" id="course_no" name="course_no" required>	
  </div>	

  <div class="form-group" id="degree_name">	
    <label for="last" id="degree_name">Degree:</label>	
    <input type="text" class="form-control" id="degree_name" name="degree_name" required>	
  </div>
			
  <div class="form-group" id="institution_name">	
    <label for="first" id="institution_name">Institution name:</label>	
    <input type="text" class="form-control" id="institution_name" name="institution_name" required>	
  </div>	
  
  <div class="form-group" id="start_date">	
    <label for="last" id="start_date">Start Year:</label>	
    <input type="text" class="form-control" id="start_date" name="start_date" required>	
  </div>
			
  <div class="form-group" id="end_date">	
    <label for="first" id="end_date">End Year:</label>	
    <input type="text" class="form-control" id="end_date" name="end_date" required>	
  </div>	

  <div class="form-group" id="cgpa">	
    <label for="first" id="cgpa">CGPA:</label>	
    <input type="number" min="0" value="0" step=".01" class="form-control" id="cgpa" name="cgpa" required>	
  </div>	

  <br>	
  <button type="submit" class="btn btn-primary">Confirm</button>	
    <button type="reset" class="btn btn-secondary" onclick="resetfun()">Reset</button><br/>	
</form>	

{% endblock content %}
