{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href = "../static/css/profile_setup.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class = "profile">
	<h1 id="title">Profile</h1>
	<div class = "btn-box">
		<button id="btnpi" onclick="openPI()"> Personal Information </button>
		<button id="btnedu" onclick="openEdu()"> Education </button>
		<button id="btnexp" onclick="openExp()"> Experience </button>
		<button id="btnskills" onclick="openSkills()"> Skills </button>
		<button id="btnla" onclick="openLA()"> Linked Account </button>
	</div>

	<div id="divpi" class="content">
	  <form class="pi" >
		<div class="form-group" id="fnamediv">	
			<label for="first" id="fnamelabel">First Name:</label>	
			<input type="text" class="form-control" id="firstname" name="firstname">	
		</div>	
		<div class="form-group" id="lnamediv">	
			<label for="last" id="lnamelabel">Last Name:</label>	
			<input type="text" class="form-control" id="lastname" name="lastname">	
		</div>	
		<div class="form-group" id="emaildiv">	
			<label for="email" id="emaillabel">Email:</label>	
			<input type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" placeholder="Enter Email" id="email" name="email">	
		</div>
		<div class="form-group" id="contactdiv">	
			<label for="contactno" id="contactlabel">Contact No:</label>	
			<input type="text" pattern="[0-9]{10}" class="form-control" id="contactno" name="contactno">
		</div>
		<div class="form-group" id="addressdiv">	
			<label for="address" id="addresslabel">Address:</label>	
			<input type="text" class="form-control" id="address" name="address">	
		</div>

		<div class="form-group" id="description">	
			<label for="first" id="description">Description:</label>	
			<input type="text" class="form-control" id="description" name="description">	
		</div>	
		<div class="form-group" id="hobbies">	
			<label for="first" id="hobbies">Hobbies:</label>	
			<input type="text" class="form-control" id="hobbies" name="hobbies">	
		</div>
	  </form>
	</div>
	


	<div id="divedu" class="content">
	  <form class="edu" >
		<!--<div class="form-group" id="leveledudiv">	
			<label for="category" id="leveledulabel">Level:</label>	
            <label>	
            <input type="radio" id="undergrad" name="level" value="student" required> Undergrad </label> 	
            	
            <label>	
            <input type="radio" id="grad" name="level" value="faculty"> Grad </label>	
            	
            <label>	
            <input type="radio" id="phd" name="level" value="recruiter"> Phd </label>	
        </div>-->
		
		<div class="form-group" id="degree_name">	
			<label for="last" id="degree_name">Degree:</label>	
			<input type="text" class="form-control" id="degree_name" name="degree_name">	
		</div>
		
		<div class="form-group" >	
			<label for="last" id="">Department:</label>	
			{% if courses%}
			<input type="text" class="form-control" id="department" name="department" value="{{courses[0]['department']}}">
			{%else%}
			<input type="text" class="form-control" id="department" name="department" >
			
			{%endif%}	
		</div>
		
		<!-- add and delete courses-->
		    <!-- add and delete courses-->
            <div class="form-group">
                <label for="first">Course No.:</label>
                {% for course in courses %}

                <input type="text" class="form-control" id="{{course['Id']}}" name="course_no{{course['Id']}}"
                       value="{{ course['course_no'] }}">
                <a class= "material-icons md-48 md-dark" href="deleteCourse?courseid={{course['course_no']}}">delete</a>
                <button type= "submit" formaction="updateCourse?Id={{course['Id']}}" style="background-color:#fdd54f" formmethod="POST"><i style="background-color:#fdd54f" class= "material-icons md-48 md-dark">edit</i></button>
                <!--<a href="updateCourse?courseid={{course['course_no']}}&{{courses['Id']}}">UPDATE</a>-->
                {% endfor %}
                <input type="text" class="form-control" id="course_no1" name="course_no1">
                <button type="submit" formaction="insertCourse" formmethod="POST">ADD</button>
                <!--<a name="insertCourse" href=""-->
                   <!--onclick="this.href='insertCourse?courseid='+document.getElementById('course_no1').value+'&department='+document.getElementById('department').value">ADD</a>-->
            </div>

		
	

	





		<div class="form-group" id="institution_name">	
			<label for="first" id="institution_name">Institution name:</label>	
			<input type="text" class="form-control" id="institution_name" name="institution_name">	
		</div>	
  
		<div class="form-group" id="start_date">	
			<label for="last" id="start_date">Start Year:</label>	
			<input type="text" class="form-control" id="start_date" name="start_date">	
		</div>
			
		<div class="form-group" id="end_date">	
			<label for="first" id="end_date">End Year:</label>	
			<input type="text" class="form-control" id="end_date" name="end_date">	
		</div>
		
		<div class="form-group" id="cgpa">	
			<label for="first" id="cgpa">CGPA:</label>	
			<input type="number" min="0" value="0" step=".01" class="form-control" id="cgpa" name="cgpa">	
		</div>
		
	  </form>
	</div>
	




	<div id="divexp" class="content">
	  <form class="exp" method="post" action="/insertIndustryExp">
		<div class="form-group">	
			<label for="first" >Company Name:</label>	
			{% if industryExp %}
				<input type="text" class="form-control" id="company_name" name="company_name" value="{{industryExp[0]['company_name']}}">	
			{% else %}
				<input type="text" class="form-control" id="company_name" name="company_name">	
			{% endif %}
		</div>
		
		<div class="form-group">	
			<label for="first">Designation:</label>	
			{% if industryExp %}
				<input type="text" class="form-control" id="designation" name="designation" value="{{industryExp[0]['designation']}}">	
			{% else %}
				<input type="text" class="form-control" id="designation" name="designation" >	
			{%endif%}
		</div>

		<div class="form-group" >	
			<label for="first" >Work Description:</label>	
			{% if industryExp %}
				<input type="text" class="form-control" id="work_description" name="work_description" value="{{industryExp[0]['work_description']}}">	
			{%else%}
				<input type="text" class="form-control" id="work_description" name="work_description">	
			{%endif%}
		</div>

		<div class="form-group" >	
			<label for="first">No. of Months:</label>	
			{% if industryExp %}
				<input type="number" min="1" class="form-control" id="no_of_months" name="no_of_months" value="{{industryExp[0]['no_of_months']}}">

				<input type="hidden" id="Id" name="Id" value="{{industryExp[0]['Id']}}">
			{% else %}
				<input type="number" min="1" class="form-control" id="no_of_months" name="no_of_months">
				<input type="hidden" id="Id" name="Id" value="Null">
			{% endif %}
		</div>
	  
        {% if industryExp %}
          <button type="submit" formaction="insertIndustryExp" formmethod="POST"><i class="material-icons md-48 md-dark">edit</i></button>
          <button type="submit" formaction="deleteIndustryExp?Id={{industryExp['Id']}}" formmethod="GET"><i class="material-icons md-48 md-dark">delete</i></button>
          {%else%}
          <button type="submit" formaction="insertIndustryExp" formmethod="POST">ADD</button>
          {%endif%}
	  </form>
	</div>
	
	<div id="divskills" class="content">
	  <form class="skills">

		<div class="form-group">	
			<label for="first" >Certificates:</label>	
			{% for certificate in certificates %}
				
			  <input type="text" class="form-control" id="{{certificate['Id']}}" name="certificate{{certificate['Id']}}" value="{{ certificate['certificates'] }}">
		      <a class= "material-icons md-48 md-dark" href="deleteCertificates?Id={{certificate['Id']}}">delete</a>
                <button type= "submit" formaction="updateCertificates?Id={{certificate['Id']}}" style="background-color:#fdd54f" formmethod="POST"><i style="background-color:#fdd54f" class= "material-icons md-48 md-dark">edit</i></button>
		      {% endfor %}

		      <input type="text" class="form-control" id="certificates1" name="certificates1">  
		    
		    <a name="insertCertificates" href="" onclick="this.href='insertCertificates?certificates='+document.getElementById('certificates1').value">ADD</a>
		</div>		
		<div class="form-group" id="project_title">	
			<label for="first" id="project_title">Project Title:</label>	
			<input type="text" class="form-control" id="project_title" name="project_title">	
		</div>

		<div class="form-group" id="project_detail">	
			<label for="first" id="project_detail">Project Detail:</label>	
			<input type="text" class="form-control" id="project_detail" name="project_detail">	
		</div>
	  </form>
	</div>
	
	<div id="divla" class="content">
	  <form class="la">
		<div class="form-group" id="linkedIn_account">	
			<label for="first" id="linkedIn_account">LinkedIn Account:</label>	
			<input type="text" class="form-control" id="linkedIn_account" name="linkedIn_account">	
		</div>

		<div class="form-group" id="other_links">	
			<label for="first" id="other_links">Other Links:</label>	
			<input type="text" class="form-control" id="other_links" name="other_links">	
		</div>
	  </form>
	</div>
	
</div>
</form>

<script src = "../static/js/profile_setup.js"></script>
{%if session['currentPage']=='personal_information' %}
<script> openPI();console.log("this is printed");</script>

{%elif session['currentPage']=='education' %}
<script>openEdu();console.log("this is printed");</script>
{%elif session['currentPage']== 'experience'%}
<script>openExp();console.log("this is printed");</script>
{%elif session['currentPage']== 'skills' %}
<script>openSkills();console.log("this is printed");</script>
{%else%}
<script>openLA();console.log("this is printed");</script>
{%endif%}

  <!--<div class="form-group" id="department">	
    <label for="last" id="department">Department:</label>	
    <input type="text" class="form-control" id="department" name="department" required>	
  </div>
			
  <div class="form-group" id="course_no">	
    <label for="first" id="course_no">Course No.:</label>	
    <input type="text" class="form-control" id="course_no" name="course_no" required>	
  </div>	

  <div class="form-group" id="degree_name">	
    <label for="last" id="degree_name">Degree:</label>	
    <input type="text" class="form-control" id="degree_name" name="degree_name" required>	
  </div>
			
  <div class="form-group" id="institution_name">	
    <label for="first" id="institution_name">Institution name:</label>	
    <input type="text" class="form-control" id="institution_name" name="institution_name" required>	
  </div>	
  
  <div class="form-group" id="start_date">	
    <label for="last" id="start_date">Start Year:</label>	
    <input type="text" class="form-control" id="start_date" name="start_date" required>	
  </div>
			
  <div class="form-group" id="end_date">	
    <label for="first" id="end_date">End Year:</label>	
    <input type="text" class="form-control" id="end_date" name="end_date" required>	
  </div>	

  <div class="form-group" id="cgpa">	
    <label for="first" id="cgpa">CGPA:</label>	
    <input type="number" min="0" value="0" step=".01" class="form-control" id="cgpa" name="cgpa" required>	
  </div>	

  <div class="form-group" id="certificates">	
    <label for="first" id="certificates">Certificates:</label>	
    <input type="text" class="form-control" id="certificates" name="certificates" required>	
  </div>

  <div class="form-group" id="hobbies">	
    <label for="first" id="hobbies">Hobbies:</label>	
    <input type="text" class="form-control" id="hobbies" name="hobbies" required>	
  </div>

  <div class="form-group" id="company_name">	
    <label for="first" id="company_name">Company Name:</label>	
    <input type="text" class="form-control" id="company_name" name="company_name" required>	
  </div>

  <div class="form-group" id="designation">	
    <label for="first" id="designation">Designation:</label>	
    <input type="text" class="form-control" id="designation" name="designation" required>	
  </div>

  <div class="form-group" id="work_description">	
    <label for="first" id="work_description">Work Description:</label>	
    <input type="text" class="form-control" id="work_description" name="work_description" required>	
  </div>

  <div class="form-group" id="no_of_months">	
    <label for="first" id="no_of_months">No. of Months:</label>	
    <input type="number" min="1" class="form-control" id="no_of_months" name="no_of_months" required>	
  </div>
  
  <div class="form-group" id="description">	
    <label for="first" id="description">Description:</label>	
    <input type="text" class="form-control" id="description" name="description" required>	
  </div>

  <div class="form-group" id="contact_number">	
    <label for="first" id="contact_number">Contact Number:</label>	
    <input type="text" class="form-control" id="contact_number" name="contact_number">	
  </div>

  <div class="form-group" id="contact_email">	
    <label for="first" id="contact_email">Personal Email:</label>	
    <input type="text" class="form-control" id="contact_email" name="contact_email" required>	
  </div>

  <div class="form-group" id="address">	
    <label for="first" id="address">Address:</label>	
    <input type="text" class="form-control" id="address" name="address">	
  </div>

  <div class="form-group" id="linkedIn_account">	
    <label for="first" id="linkedIn_account">LinkedIn Account:</label>	
    <input type="text" class="form-control" id="linkedIn_account" name="linkedIn_account" required>	
  </div>

  <div class="form-group" id="other_links">	
    <label for="first" id="other_links">Other Links:</label>	
    <input type="text" class="form-control" id="other_links" name="other_links">	
  </div>

  <div class="form-group" id="project_title">	
    <label for="first" id="project_title">Project Title:</label>	
    <input type="text" class="form-control" id="project_title" name="project_title">	
  </div>

  <div class="form-group" id="project_detail">	
    <label for="first" id="project_detail">Project Detail:</label>	
    <input type="text" class="form-control" id="project_detail" name="project_detail">	
  </div>

  <div class="form-group" id="skills">	
    <label for="first" id="skills">Skills:</label>
    <input type="text" class="form-control" id="skills" name="skills">	
  </div>

  <br>	
  <button type="submit" class="btn btn-primary">Confirm</button>	
    <button type="reset" class="btn btn-secondary" onclick="resetfun()">Reset</button><br/>	
</form>	-->

{% endblock content %}
