{% extends "layout.html" %} {% block content %}

<link rel="stylesheet" href="../static/css/show_profile.css">


<div class="show">

    <div fxhide="true">
        <div class="ng-star-inserted">
            <div class="ng-star-inserted" style="height: 60px;"></div>
        </div>
    </div>

    <div class="bg-color-white mat-elevation-z1 ng-tns-c400-75">
        <app-profile-intro class="u-paddingTop-32 u-display-block u-margin-center ng-tns-c400-75">
            <div fxlayout.gt-xs="row" fxlayout="column" fxlayoutalign="start center" class="u-padding-0-16" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                <app-avatar-account class="u-display-block">
                    <div _ngcontent-rrr-c140="" fxlayout="row" fxlayoutalign="center center" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center; width: 96px; height: 96px;">
                        <div _ngcontent-rrr-c140="" fxlayout="row" fxlayoutalign="center center" class="bg-color-teal-100 ng-star-inserted text-h4" style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center; align-items: center; width: 100%; height: 100%; border-radius: 50%;">
                            P
                        </div>
                    </div>
                </app-avatar-account>
                <div fxflex="calc(100% - 112px)" fxlayout.gt-xs="row" fxlayout="column" style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 calc(100% - 112px); min-width: calc(100% - 112px);">
                    <h6>Name</h6>
                </div>
            </div>
        </app-profile-intro>
    </div>

    <div fxlayout.gt-sm="row" class="u-padding-24-0 u-margin-center ng-tns-c400-75" style="max-width: 800px; width: 95vw; flex-direction: row;">
        <app-profile-group-item class="bg-color-white mat-elevation-z1 u-marginBottom-16 u-display-block ng-tns-c400-75 ng-star-inserted">
            <app-profile-basic-info class="bg-color-white u-padding-16 mat-elevation-z1 u-display-block ng-tns-c299-24">
                <p class="text-subtitle-1 u-marginBottom-8"><b>Basic Information</b></p>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">About Me:</p>
                    <p class="u-textTruncate"> description</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Contact Number:</p>
                    <p class="u-textTruncate"> 83771--93</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Personal Email:</p>
                    <p class="u-textTruncate"> hi@gm.com</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Address:</p>
                    <p class="u-textTruncate"> India</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">LinkedIn account:</p>
                    <p class="u-textTruncate"> http://.com</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Other Account:</p>
                    <p class="u-textTruncate"> http://.com</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Hobbies:</p>
                    <!-- add for loop  -->
                    <p class="u-textTruncate"> swim</p>
                </div>
                <div class="u-borderTop-grey100 u-padding-16-0 ng-tns-c298-3 ng-star-inserted"></div>



                <p class="text-subtitle-1 u-marginBottom-8"><b>Education</b></p>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-textTruncate"> Degree_Name, Institution_Name, End_Year</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Courses:</p>
                    <!-- add for loop  -->
                    <p class="u-textTruncate"> course_department:&nbsp;course_no</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Certificates:</p>
                    <!-- add for loop  -->
                    <p class="u-textTruncate"> Professional certificates</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Skills:</p>
                    <!-- add for loop  -->
                    <p class="u-textTruncate"> skill1</p>
                </div>
                <div class="u-borderTop-grey100 u-padding-16-0 ng-tns-c298-3 ng-star-inserted"></div>



                <p class="text-subtitle-1 u-marginBottom-8"><b>Projects</b></p>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <!-- add for loop  -->
                    <p class="u-paddingRight-8" style="color: #717171;">Project Title 1:</p>
                    <p class="u-textTruncate"> Project description</p>
                </div>
                <div class="u-borderTop-grey100 u-padding-16-0 ng-tns-c298-3 ng-star-inserted"></div>


                <!-- add for loop  -->
                <p class="text-subtitle-1 u-marginBottom-8"><b>Work Experience</b></p>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Company Name:</p>
                    <p class="u-textTruncate"> name of the company</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Designation:</p>
                    <p class="u-textTruncate"> status</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">Work Description:</p>
                    <p class="u-textTruncate"> type of work</p>
                </div>
                <div fxlayout="row" fxlayoutalign="start center" style="margin-bottom: 4px; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
                    <p class="u-paddingRight-8" style="color: #717171;">No of Months:</p>
                    <p class="u-textTruncate"> 23</p>
                </div>
                <div class="u-borderTop-grey100 u-padding-16-0 ng-tns-c298-3 ng-star-inserted"></div>
            </app-profile-basic-info>
        </app-profile-group-item>
    </div>

</div>


{% endblock content %}