{% extends "layout.html" %}
{% block content %}

{{courses.course_no}}
{{courses.department}}
{{education.degree_name}}
{{education.institution_name}}
{{education.start_date}}
{{education.end_date}}
{{education.cgpa}}
{{certificates.certificates}}
{{hobbies.hobbies}}
{{industry.company_name}}
{{industry.designation}}
{{industry.work_description}}
{{industry.no_of_months}}
{{personal.description}}
{{personal.contact_number}}
{{personal.contact_email}}
{{personal.address}}
{{personal.linkedIn_account}}
{{personal.other_links}}
{{project.project_title}}
{{project.project_detail}}
{{skills.skills}}

{% endblock content %}