{% extends "dashboard_layout.html" %}
 {% block content %}

<link rel="stylesheet" href="../static/css/show_profile.css">
<!-- <link rel="stylesheet" href="../static/css/dashboard.css"> -->


<div class="show" >
    <div class="name_profile" style="margin-top: 1%; justify-content: center; text-align: center;" >
        
        <div class="circle_profile">
            {{ signup[0]['firstname'][0] }}{{ signup[0]['lastname'][0] }}
        </div>
        <div class="cname_profile">
             {{ signup[0]['firstname'] }} {{ signup[0]['lastname'] }}
        </div>
        
    </div>
</div>

<div class="show1">
    <div  class="bg_profile">
            <app-profile-basic-info style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Basic Information</b></p>
                <hr>
                <table>
                    <tr>
                        <td class="col1"><b>About Me:</b></td>
                        <td class="col2">{{ personal[0]['description']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Contact Number:</b></td>
                        <td class="col2">{{ personal[0]['contact_number']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Personal Email:</b></td>
                        <td class="col2"><a href="{{personal[0]['contact_email']}}">{{ personal[0]['contact_email']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Address:</b></td>
                        <td class="col2">{{ personal[0]['address']}}</td>
                    </tr>
                </table>
            </app-profile-basic-info>
    </div>
</div>

<div class="show1">
    <div  class="bg_profile" >
            <app-profile-basic-info  style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Education Information</b></p>
                <hr>
                <table>
                    <tr>
                        <td class="col1" ><b>Degree:</b></td>
                        <td class="col2" >{{ education[0]['degree_name']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Start Year:</b></td>
                        <td class="col2" >{{ education[0]['start_date']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Expected End Year:</b></td>
                        <td class="col2" >{{ education[0]['end_date']}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>CGPA:</b></td>
                        <td class="col2" >{{'%0.2f'| format(education[0]['cgpa']|float)}}</td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Courses:</b></td>
                        <td class="col2" >

                            {% for i in courses %}
                                {{i['course_no']}} ,
                            {%endfor%}
                        </td>
                    </tr>
                </table>
            </app-profile-basic-info>
    </div>
</div>          


<div class="show1">
    <div  class="bg_profile">
            <app-profile-basic-info style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Skills</b></p>
                <hr>
                <table>
                    <tr>
                        <td class="col1"><b>Skills:</b></td>
                        <td class="col2" >
                            {% for i in hobbies %}
                                {{i['hobbies']}} ,
                            {%endfor%}
                        </td>
                    </tr>

                    <tr>
                        <td class="col1"><b>Certificates:</b></td>
                        <td class="col2" >
                            {% for i in certificates %}
                                {{i['certificates']}} ,
                            {%endfor%}
                        </td>
                    </tr>
                </table>
            </app-profile-basic-info>
    </div>
</div>


<div class="show1">
    <div  class="bg_profile">
            <app-profile-basic-info style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Projects</b></p>
                <hr>

                <table>

                {%for i in projects%}

                    <tr>
                        <td class="col1"><b>{{ i['project_title'] }}:</b></td>
                        <td class="col2" >
                            {{ i['project_detail'] }}
                        </td>
                    </tr>
                {%endfor%}

                </table>
            </app-profile-basic-info>
    </div>
</div>

<div class="show1">
    <div  class="bg_profile">
            <app-profile-basic-info style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Work Experience</b></p>
                <hr>
                <table>
                    <tr>
                        <td class="col1"><b>Company Name:</b></td>
                        <td class="col2" >
                            {{industryExp[0]['company_name']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Designation:</b></td>
                        <td class="col2" >
                            {{industryExp[0]['designation'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Work Description:</b></td>
                        <td class="col2" >
                            {{industryExp[0]['work_description']}}
                        </td>
                    </tr>
                    <tr>
                        <td class="col1"><b>Number of Months:</b></td>
                        <td class="col2" >
                            {{industryExp[0]['no_of_months']}}
                        </td>
                    </tr>
                </table>
            </app-profile-basic-info>
    </div>
</div>
<div class="show1">
    <div  class="bg_profile">
            <app-profile-basic-info style="width: 100%;">
                <p class="title_profile" style="margin-bottom: 0px;"><b>Linked Accounts</b></p>
                <hr>

                <table>

                {%for i in accounts%}

                    <tr>
                        <td class="col1"><b>{{i['platform']}}:</b></td>
                        <td class="col2" >
                            <a href="{{i['link']}}">{{ i['link'] }}</a>
                        </td>
                    </tr>
                {%endfor%}

                </table>
            </app-profile-basic-info>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>



{% endblock content %}
