<!DOCTYPE html>		<!DOCTYPE html>
<html lang="en">		<html lang="en">
<head>	
  <title>SignUp</title>	
  <meta charset="utf-8">	
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">	
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>	
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>	
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>	
  	
	<link rel="stylesheet" href="../static/css/signup.css">	
		
</head>	
<body>	
<script src = "../static/js/signup.js"></script>	
<div class="jumbotron text-center">	
  <h1>Catch-Up</h1> 	
</div>	
<div class="container">	
		
	<div class="row">	
	<form name = "signup" method = "POST" action="/insertUser" onsubmit="return validateForm()"> <!--need to update action-->	
		
	<div class="form-group">	
    <h1>Sign Up</h1>	
    {% if msg %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
    {% endif%}
    <p>Please fill in this form to create an account.</p>	
	</div>	
		
	    	
    <div class="form-group">	
      <label for="first">First Name:</label>	
      <input type="text" class="form-control" id="firstname" name="firstname" required>	
    </div>	
    <div class="form-group">	
        <label for="last">Last Name:</label>	
        <input type="text" class="form-control" id="lastname" name="lastname" required>	
    </div>	
    <div class="form-group">	
        <label for="email">Email:</label>	
        <input type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" placeholder="Enter Email" id="email" name="email" required>	
    </div>	
    <div class="form-group">	
      <label for="pwd">Password:</label>	
      <input type="password" class="form-control" id="pswd" name="password" required>	
    </div>	
		
	<div class="form-group" id="message">	
		  <b>Password must contain the following:</b>	
		  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>	
		  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>	
		  <p id="number" class="invalid">A <b>number</b></p>	
		  <p id="length" class="invalid">Minimum <b>8 characters</b></p>	
	</div>	
		
    <div class="form-group">	
        <label for="pwd-confirm">Confirm Password:</label>	
        <input type="password" class="form-control" id="confirmpswd" name="confirmpassword" required>	
    </div>	
    <div>	
    <label for="gender" >Gender: </label>	
        <label>	
        <input type="radio" id="male" name="gender" value='male' required> Male </label> 	
			
        <label>  	
        <input type="radio" id="female" name="gender" value="female"> Female  </label>	
			
        <label>	
        <input type="radio" id="other" name="gender" value="other"> Other </label>	
        	
    </div>	
    <div>	
        <label for="category">Category:</label>	
            <label>	
            <input type="radio" id="student" name="category" value="student" required> Student </label> 	
            	
            <label>	
            <input type="radio" id="faculty" name="category" value="faculty"> Faculty </label>	
            	
            <label>	
            <input type="radio" id="recruiter" name="category" value="recruiter"> Recruiter </label>	
            	
            <label>	
            <input type="radio" id="other" name="category" value='other'> Other </label>	
            	
    </div>	
    <br>	
    <button type="submit" class="btn btn-primary">Confirm</button>	
	  <button type="reset" class="btn btn-secondary" onclick="resetfun()">Reset</button><br/>	
		<a href="login.html" class="btn btn-link" role="button">Already a User?</a>	
  </form>	
  </div>	
</div>	
<script src = "../static/js/signup.js"></script>	
</body>	
</html>	
