<html>
	<head>
	</head>
	<body>
		<div class='content-section'>
			<form method="post" action="/insertUser">
				<label>Enter Username : </label>   
	            <input type="text" placeholder="Enter Username" name="username" required>  
	            <label>Enter Password : </label>   
	            <input type="password" placeholder="Enter Password" name="password" required>  
	            <button type="submit">Signup</button>
	            <a href="/login">login</a>
        	</form>
		</div>
	</body>
</html>